*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}
header{
    background-color: darkgreen;
    color: white;
    padding: 40px;
    text-align: center;
}
nav{
    background-color: darkblue;
    padding: 10px;  
    color: white;
}
nav ul li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul {
    list-style: none;
}
nav ul li:hover{
    background-color: rgb(42, 42, 227) ;
}
main{
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}
section{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
}
h2{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
aside{
    background-color: rgb(249, 249, 77);
    padding: 20px;
    margin-top: 20px;
    color: #333333;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
}
footer{
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}
